@import "fonts/fonts.css";
@import "utils";

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box !important;
	font-family: 'Montserrat', serif;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	color: inherit;
}

nav {
	@extend .flex;
	justify-content: space-between !important;
	color: white;

	width: 100vw;
	height: 50px;
	background: #023859;
	font-size: 18px;

	position: sticky;
	position: -webkit-sticky;
	top: 0;

	#global {
		@extend .flex;
		width: 40vw;
		margin-left: 15vw;

		#logo {
			min-width: 150px;
			height: 35px;
			//background: url("../images/logo.png"); TODO: Create logo placeholder
			background: white;

			margin-left: 1vw;
			margin-right: 1vw;
		}

		#create {
			background: #61BA65;

			text-align: center;
			min-width: 140px;
			padding-top: 6px;
			padding-bottom: 6px;

			border-radius: 3px;
			font-size: 19px;
		}

		#create:hover {
			color: white;
		}

		#create::before {
			@extend .icon;
			content: '\f067';
		}

		a {
			margin-left: 1vw;
			margin-right: 1vw;
		}

		a:hover {
			color: darkgray;
		}
	}

	#account {
		@extend .flex;
		margin-right: 10vw;

		a {
			font-size: 25px;
			margin-left: 0.8vw;
			margin-right: 0.8vw;
			display: inline-block;
		}

		a:hover {
			color: darkgray;
		}

		#username {
			display: inline-block;
			font-size: 16px;
			margin-right: 0;
		}

		img {
			margin-left: 1vw;
			max-height: 40px;
			max-width: 40px;
		}
	}
}

#container {
	display: flex;
	justify-content: center;
}

#content {
	width: 61vw;
	margin-right: 2vw;
}

#sidebar {
	width: 170px;
	color: black;
	border-right: 1px dotted grey;

	h1 {
		font-size: 15px;
		margin-bottom: 0;
	}

	.separator {
		height: 1px;
		width: 95%;
		border-bottom: 1px dotted grey;
		margin-top: 5px;
		margin-bottom: 5px;
	}

	a {
		color: #C03;
		font-size: 15px;
	}

	a:hover {
		color: darkgray;
	}

	a::before {
		@extend .icon;
		content: '\f328';
		color: grey;
	}

	p {
		color: grey;
		font-size: 12px;
		margin-top: 3px;
		margin-bottom: 0;
		margin-left: 17px;
	}
}

@media (max-width: 950px) {
	.optional {
		display: none;
	}
}