{% extends 'base.html.twig' %}
{% block head %}
    <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
{% endblock %}

{% block body %}
    {% if not_found %}
        <h1>Paste not found</h1>
    {% else %}
        {{ content }}
    {% endif %}
{% endblock %}