{% extends 'base.html.twig' %}
{% block head %}
    <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
{% endblock %}

{% block body %}
    {% if paste == null %}
        <h1>Paste not found</h1>
    {% else %}
        <div id="paste">
            {% if paste.title != null %}
                <h1>{{ paste.title }}</h1>
            {% endif %}
            <ol>
                {% for line in content %}
                    <li>{{ line }}</li>
                {% endfor %}
            </ol>
        </div>
    {% endif %}
{% endblock %}